<%= render "navbar/navbar", text: "NEW TRANSACTION", mode_text: "page", last_page: group_budget_transactions_path(@group.id) %> 
<%= form_with url: group_budget_transactions_path(@group.id),
    method: :post, local: true, scope: :budget_transaction,
    class: "mt-8 p-5 bg-white border-y border-gray-500" do |f| %>
  <div class="field border-b border-gray-500">
    <%= f.text_field :name, placeholder: "Transaction Name", class: "w-full px-0 border-none" %>
  </div>
  <div class="field border-b border-gray-500">
    <%=
      f.number_field :amount, min: 0.01, step: 0.01,
      placeholder: "Amount", class: "w-full px-0 border-none"
    %>
  </div>
  <div class="border-b border-gray-500 py-2">
    <p class="text-gray-500 font-thin">Select at least one category</p>
    <ul class="flex flex-col gap-2 text-gray-500 font-thin text-sm">
      <%= f.collection_check_boxes(:group_ids, current_user.groups.all, :id, :name) do |b| %>
        <li>
          <%= b.label { b.check_box(class: "mr-2") + b.text } %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="actions mt-5 flex">
    <%= f.submit "SUBMIT", class: "p-3 text-center text-white bg-main w-full" %>
  </div>
<% end %>